<%= form_for @note, :html => { :class => "form-horizontal note" } do |f| %>

    <% if @note.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@note[:title]) %>
  </div>
  <div class="control-group">
    <%= f.nested_fields_for :contents do |q| %>
      <%= f.label :note, :class => 'control-label' %>
      <div class="controls">
        <p><%= q.text_area   :text, :class => 'form-control' %></p>
        <p><%= q.remove_nested_fields_link 'Delete', :class => 'btn btn-danger', role: 'button' %></p>
      </div>
    <% end %>
  </div>
  <%= f.add_nested_fields_link :contents, 'Add new', :class => 'btn btn-primary', role: 'button' %>
  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            notes_path, :class => 'btn btn-default' %>

<% end %>
